<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.renli.system.mapper.SigninfoMapper">

    <resultMap type="Signinfo" id="SigninfoResult">
        <result property="id"    column="id"    />
        <result property="username"    column="username"    />
        <result property="temperature"    column="temperature"    />
        <result property="address"    column="address"    />
        <result property="date"    column="date"    />
        <result property="dept"    column="dept"    />
    </resultMap>

    <delete id="deleteById" parameterType="Long">
        delete from signinfo where id = #{id}
    </delete>

</mapper>
