# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\项目\健康打卡vue+springboot版\health-punch-system\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
